# Panda Exercises

In [1]:
import pandas as pd

### 1. Use pandas to create a Series from the following data:

In [ ]:
["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [ ]:
# a. Name the variable that holds the series fruits.

In [ ]:
# b. Run .describe() on the series to see what describe returns for a series of strings.

In [ ]:
# c. Run the code necessary to produce only the unique fruit names.

In [ ]:
# d. Determine how many times each value occurs in the series.

In [ ]:
# e. Determine the most frequently occurring fruit name from the series.

In [ ]:
# f. Determine the least frequently occurring fruit name from the series.

In [ ]:
# g. Write the code to get the longest string from the fruits series.

In [ ]:
# h. Find the fruit(s) with 5 or more letters in the name.

In [ ]:
# i. Capitalize all the fruit strings in the series.

In [ ]:
# j. Count the letter "a" in all the fruits (use string vectorization)

In [ ]:
# k. Output the number of vowels in each and every fruit.

In [ ]:
# l. Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

In [ ]:
# m. Write the code to get only the fruits containing "berry" in the name

In [ ]:
# n. Write the code to get only the fruits containing "apple" in the name

In [ ]:
# o. Which fruit has the highest amount of vowels?

### 2. Use pandas to create a Series from the following data:

In [ ]:
['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [ ]:
# a. What is the data type of the series?

In [ ]:
# b. Use series operations to convert the series to a numeric data type.

In [ ]:
# c. What is the maximum value? The minimum?

In [ ]:
# d. Bin the data into 4 equally sized intervals and show how many values fall into each bin.

In [ ]:
# e. Plot a histogram of the data. Be sure to include a title and axis labels.

### 3. Use pandas to create a Series from the following exam scores:

In [ ]:
[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

In [ ]:
# a. What is the minimum exam score? The max, mean, median?

In [ ]:
# b. Plot a histogram of the scores.

In [ ]:
# c. Convert each of the numbers above into a letter grade. For example, 86 should be a 'B' and 95 should be an 'A'.

In [ ]:
# d. Write the code necessary to implement a curve. I.e. that grade closest to 100 should be converted to a 100, and that many points should be given to every other score as well.

### 4. Use pandas to create a Series from the following string:

In [ ]:
'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

In [ ]:
# a. What is the most frequently occuring letter? Least frequently occuring?

In [ ]:
# b. How many vowels are in the list?

In [ ]:
#. c How many consonants are in the list?

In [ ]:
# d. Create a series that has all of the same letters, but uppercased

In [ ]:
# e. Create a bar plot of the frequencies of the 6 most frequently occuring letters.