In [1]:
import numpy as np

In [2]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])
a

array([ 4, 10, 12, 23, -2, -1,  0,  0,  0, -6,  3, -7])

### 1. How many negative numbers are there?

In [3]:
# np.count_nonzero(a % 2 == 1)

mask = a < 0
mask.sum()

4

### 2. How many positive numbers are there?

In [4]:
mask = a > 0
mask.sum() # total of positive numbers

5

### 3. If you were to add 3 to each data point, how many positive numbers would there be?

In [5]:
mask = (a + 3) > 0
mask.sum()

10

### 4. If you squared each number, what would the new mean and standard deviation be?

In [6]:
mask = a ** 2

### 5. If you squared each number, what would the new mean and standard deviation be?

In [7]:
mask # squared each number

array([ 16, 100, 144, 529,   4,   1,   0,   0,   0,  36,   9,  49])

In [8]:
mask.mean()

74.0

In [9]:
mask.std()

144.0243035046516

### 6. A common statistical operation on a dataset is centering. This means to adjust the data such that the center of the data is at 0. This is done by subtracting the mean from each data point. Center the data set.

In [10]:
a

array([ 4, 10, 12, 23, -2, -1,  0,  0,  0, -6,  3, -7])

In [11]:
a - a.mean()

array([  1.,   7.,   9.,  20.,  -5.,  -4.,  -3.,  -3.,  -3.,  -9.,   0.,
       -10.])

### 7. Calculate the z-score for each data point. Recall that the z-score is given by:
$$Z =  \frac{x - \mu}{\sigma}$$

In [12]:
z = (a - a.mean()) / a.std()
z

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

### 8. Copy the setup and exercise directions from More Numpy Practice

In [13]:
# Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Life w/o numpy to life with numpy
# Use python's built in functionality/operators to determine the following:

In [14]:
# Exercise 1 - Make a variable called sum_of_a to hold the sum of all the numbers in above list
sum_of_a = sum(a)

In [15]:
sum_of_a

55

In [16]:
# Exercise 2 - Make a variable named min_of_a to hold the minimum of all the numbers in the above list
min_of_a = min(a)

In [17]:
min_of_a

1

In [18]:
# Exercise 3 - Make a variable named max_of_a to hold the max number of all the numbers in the above list
max_of_a_hold = max(a)

In [19]:
max_of_a_hold

10

In [21]:
# Exercise 4 - Make a variable named mean_of_a to hold the average of all the numbers in the above list
mean_of_a = sum(a) / len(a)

In [22]:
mean_of_a

5.5

In [42]:
# Exercise 5 - Make a variable named product_of_a to hold the product of multiplying all the numbers in 
# the above list together
total = 1
for n in a:
    total *= n
product_of_a = total
product_of_a

3628800

In [43]:
# Exercise 6 - Make a variable named squares_of_a. It should hold each number in a squared like 
# [1, 4, 9, 16, 25...]
squares_of_a = [n ** 2 for n in a]
squares_of_a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
# Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers
odds_in_a = [n for n in a if n % 2 == 1] 
odds_in_a

[1, 3, 5, 7, 9]

In [46]:
# Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.
evens_in_a = [n for n in a if n % 2 == 0]
evens_in_a

[2, 4, 6, 8, 10]

In [47]:
# What about life in two dimensions? A list of lists is matrix, a table, a spreadsheet, a chessboard...
# Setup 2: Consider what it would take to find the sum, min, max, average, sum, product, 
# and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
]

In [50]:
# Exercise 1 - refactor the following to use numpy. Use sum_of_b as the variable. **Hint, you'll first need to make sure that the "b" variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)
    
b = np.array(b)
sum_of_b = b.sum()
sum_of_b

33

In [51]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])  
min_of_b = b.min()
min_of_b

3

In [52]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])
max_of_b = b.max()
max_of_b

8

In [53]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))
mean_of_b = b.mean()
mean_of_b

5.5

In [55]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers 
# multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number

b.prod()

20160

In [60]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)

squares_of_b = b ** 2
squares_of_b

array([[ 9, 16, 25],
       [36, 49, 64]])

In [61]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
odds_in_b = b[b% 2 == 1]
odds_in_b

array([3, 5, 7])

In [62]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
            
evens_in_b = b[b % 2 == 0]
evens_in_b

array([4, 6, 8])

In [63]:
# Exercise 9 - print out the shape of the array b.
print(b.shape)

(2, 3)

In [64]:
# Exercise 10 - transpose the array b.
b.T
b.T.shape

(3, 2)

In [65]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
b.flatten()

array([3, 4, 5, 6, 7, 8])

In [67]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
# HINT, you'll first need to make sure that the "c" variable is a numpy array prior to using 
# numpy array methods.

In [70]:
# Exercise 1 - Find the min, max, sum, and product of c.
c.min(), c.max(), c.sum(), c.prod()

(1, 9, 45, 362880)

In [72]:
# Exercise 2 - Determine the standard deviation of c.
c.std()

2.581988897471611

In [73]:
# Exercise 3 - Determine the variance of c.
c.std() ** 2

6.666666666666666

In [74]:
# Exercise 4 - Print out the shape of the array c
c.shape

(3, 3)

In [75]:
# Exercise 5 - Transpose c and print out transposed result.
c.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [76]:
# Exercise 6 - Get the dot product of the array c with c. 
c.dot(c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [77]:
# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. 
# Answer should be 261
(c * c.T).sum()

261

In [78]:
# Exercise 8 - Write the code necessary to determine the product of c times c transposed.
# Answer should be 131681894400.
(c * c.T).prod()

131681894400

In [80]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

d = np.array(d)

In [81]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [82]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [83]:
# Exercise 3 - Find the tangent of all the numbers in d
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [84]:
# Exercise 4 - Find all the negative numbers in d
d[d < 0]

array([-90, -30, -45, -45])

In [85]:
# Exercise 5 - Find all the positive numbers in d
d[d > 0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [92]:
# Exercise 6 - Return an array of only the unique numbers in d.
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [87]:
# Exercise 7 - Determine how many unique numbers there are in d.
np.unique(d).size

(3, 6)

In [91]:
# Exercise 8 - Print out the shape of d.
d.shape

(3, 6)

In [90]:
# Exercise 9 - Transpose and then print out the shape of d.
d.T.shape

(6, 3)

In [89]:
# Exercise 10 - Reshape d into an array of 9 x 2
d.reshape(9, 2)

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])